Get the Path to the results excel and the folder of all tables and rename to FALSE_RIGHT depending on whether the recall is 0 or 1

In [11]:
import pandas as pd
import glob
import os

In [12]:
path_to_results = "/Users/hendrikweichel/projects/ReMeDi/remedi/Tests/test_results/test_rule_based_extraction/tables_prior_table_row_name_regular_expression/0_resultsprior_table_row_name_regular_expression.xlsx"
path_to_tables = "/Users/hendrikweichel/projects/ReMeDi/remedi/Tests/test_results/test_rule_based_extraction/tables_prior_table_row_name_regular_expression/"

In [13]:
df = pd.read_excel(path_to_results)
df.head()

,Unnamed: 0,report,t,y,emission_type,x,page,prior_y,prior_page,prior_report,...,found_table_column_name,prior_table_row_name,table_row_name,found_table_row_name,found_cell,query,max_index,len_max_index,recall,precision
0,6,aib_group_EN_2022.pdf,2022,"3,004 t",Scope 1,"{""Absolute GHG emissions (detailed)"":{""0"":""Abs...",25,"3,653 t",107,aib_group_EN_2021.pdf,...,['Gross Scope 1: Direct emissions (tCO2e) (Loc...,Gross Scope 1: direct emissions,Total Scope 1 emissions (tCO2e) (location-based),['Absolute GHG emissions (detailed)'],"3,004",Gross Scope 1: direct emissions,[[2 0]],1,0,0.0
1,7,aib_group_EN_2023.pdf,2023,"2,670 t",Scope 1,"{""Absolute GHG emissions (detailed)"":{""0"":""Abs...",101,"3,004 t",25,aib_group_EN_2022.pdf,...,NaN,Total Scope 1 emissions (tCO2e) (location-based),Total Scope 1 emissions (tCO2e),NaN,"2,670",Total Scope 1 emissions (tCO2e) (location-based),[],0,0,0.0
2,9,banca_monte_dei_paschi_dei_siena_EN_2020.pdf,2020,"11,611.85 t",Scope 1,"{""DIRECT (SCOPE 1) GHG EMISSIONS"":{""0"":""a. GHG...",78,"12,828.82 t",77,banca_monte_dei_paschi_dei_siena_EN_2019.pdf,...,['a. GHG direct emissions (Scope 1) in tCO2e'],a. GHG direct emissions (Scope 1) in tCO2e,a. GHG direct emissions (Scope 1) in tCO2e,['DIRECT (SCOPE 1) GHG EMISSIONS'],"11,611.85",a. GHG direct emissions (Scope 1) in tCO2e,[[1 0]],1,1,1.0
3,10,banca_monte_dei_paschi_dei_siena_EN_2021.pdf,2021,"7,459.21 t",Scope 1,"{""DIRECT GHG EMISSIONS (SCOPE 1)"":{""0"":""a. Dir...",93,"11,611.85 t",78,banca_monte_dei_paschi_dei_siena_EN_2020.pdf,...,NaN,a. GHG direct emissions (Scope 1) in tCO2e,a. Direct GHG emissions (Scope 1) in tCO2 equi...,NaN,"7,459.21",a. GHG direct emissions (Scope 1) in tCO2e,[],0,0,0.0
4,11,banca_monte_dei_paschi_dei_siena_EN_2022.pdf,2022,"5,525.1 t",Scope 1,"{""305-1 Direct (Scope 1) GHG emissions"":{""0"":""...",185,"7,459.21 t",94,banca_monte_dei_paschi_dei_siena_EN_2021.pdf,...,NaN,a. Direct GHG emissions (Scope 1) in tCO2 equi...,Total (Scope 1) emissions (tCO2 eq.),NaN,"5,525.1",a. Direct GHG emissions (Scope 1) in tCO2 equi...,[],0,0,0.0

In [10]:
def rename_file(file_path, new_name):
    directory = os.path.dirname(file_path)
    new_path = os.path.join(directory, new_name)
    os.rename(file_path, new_path)
    return new_path

# # Example usage
# new_file_path = rename_file(path_to_results, "0_resultsprior_table_row_name_regular_expression.xlsx")
# print(f"File renamed to: {new_file_path}")

File renamed to: /Users/hendrikweichel/projects/ReMeDi/remedi/Tests/test_results/test_rule_based_extraction/tables_prior_table_row_name_regular_expression/0_resultsprior_table_row_name_regular_expression.xlsx

In [16]:
df[df["recall"] == 0].apply(lambda row: rename_file(os.path.join(path_to_tables, f'{row["report"]}_{row["emission_type"]}.xlsx'), f'false_{row["report"]}_{row["emission_type"]}.xlsx'), axis=1)

0      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
1      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
3      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
4      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
8      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
                             ...
160    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
162    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
163    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
168    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
170    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
Length: 79, dtype: object

In [17]:
df[df["recall"] == 1].apply(lambda row: rename_file(os.path.join(path_to_tables, f'{row["report"]}_{row["emission_type"]}.xlsx'), f'true_{row["report"]}_{row["emission_type"]}.xlsx'), axis=1)

2      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
5      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
6      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
7      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
9      /Users/hendrikweichel/projects/ReMeDi/remedi/T...
                             ...
166    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
167    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
169    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
171    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
172    /Users/hendrikweichel/projects/ReMeDi/remedi/T...
Length: 94, dtype: object